<ul>
        <li><%= biodata.nama_lengkap %></li>
        <li><%= biodata.nama_panggilan %></li>
        <li><%= biodata.umur %></li>
        <li><%= biodata.alamat %></li>
        <li><%= biodata.hobi %></li>
</ul>